<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE_ROOT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %-50c{1.} %X{tradeId) %msg %n"/>
        </Console>
        <Console name="JSON_LAYOUT_APPENDER" target="SYSTEM_OUT">
            <JSONLayout complete="false" compact="false" objectMessageAsJsonObject="true">
                <KeyValuePair key="tradeId" value="${tradeId}" />
            </JSONLayout>
        </Console>
        <Console name="CUSTOM_LAYOUT_APPENDER" target="SYSTEM_OUT">
<!--            <JSONLayout complete="false" compact="false" objectMessageAsJsonObject="true">-->
<!--                <KeyValuePair key="tradeId" value="${tradeId}" />-->
<!--            </JSONLayout>-->
            <CustomLayout />
        </Console>
        <File name="File" fileName="me.log">
            <PatternLayout pattern="%d [%t] %-5level %-50c{1.} %msg %n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="LOGGER_WITH_JSON_LAYOUT" level="info" additivity="false">
            <AppenderRef ref="JSON_LAYOUT_APPENDER"/>
        </Logger>
        <Logger name="LOGGER_WITH_CUSTOM_LAYOUT" level="info" additivity="false">
            <AppenderRef ref="CUSTOM_LAYOUT_APPENDER"/>
        </Logger>
        <Root level="info">
<!--            <AppenderRef ref="Console" />-->
            <AppenderRef ref="CONSOLE_ROOT"/>
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>